
.card {
 text-align: center;
 margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 10%;
  transition: box-shadow 0.3s ease-in-out;
}
#container-product {
    display: flex;
    width: 550px;
}
h2 {
    font-size: 1.5rem;
}

.card img {
width: 400px;
}

.card:hover {
  box-shadow: 6px 6px 10px 10px rgba(0, 0, 0, 0.5);
}